<h1>Listing how_to_lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @how_to_lists.each do |how_to_list| %>
  <tr>
    <td><%= how_to_list.name %></td>
    <td><%= how_to_list.description %></td>
    <td><%= link_to 'Show', how_to_list %></td>
    <td><%= link_to 'Edit', edit_how_to_list_path(how_to_list) %></td>
    <td><%= link_to 'Destroy', how_to_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New How to list', new_how_to_list_path %>
